<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="{% link index.md %}">Home</a>
    <a class="sidebar-nav-item" href="{% link docs.html %}">API Docs</a>

    <span class="sidebar-nav-item">JSON Endpoints</span>
    <a class="sidebar-nav-item" href="{% link api/spells.json %}">&nbsp;&nbsp;Spells</a>

    <div x-data="{ isOpen: false }">
      <span class="sidebar-nav-item expandable" :class="{ 'active': isOpen }" @click="isOpen = !isOpen">&nbsp;&nbsp;&nbsp;&nbsp;By Class</span>
      <div x-show="isOpen">
        <a class="sidebar-nav-item" href="{% link api/spells/class/bard.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bard</a>
        <a class="sidebar-nav-item" href="{% link api/spells/class/cleric.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cleric</a>
        <a class="sidebar-nav-item" href="{% link api/spells/class/druid.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Druid</a>
        <a class="sidebar-nav-item" href="{% link api/spells/class/paladin.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paladin</a>
        <a class="sidebar-nav-item" href="{% link api/spells/class/ranger.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ranger</a>
        <a class="sidebar-nav-item" href="{% link api/spells/class/warlock.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Warlock</a>
        <a class="sidebar-nav-item" href="{% link api/spells/class/wizard.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wizard</a>
      </div>
    </div>

    <div x-data="{ isOpen: false }">
      <span class="sidebar-nav-item expandable" :class="{ 'active': isOpen }" @click="isOpen = !isOpen">&nbsp;&nbsp;&nbsp;&nbsp;By Level</span>
      <div x-show="isOpen">
        <a class="sidebar-nav-item" href="{% link api/spells/level/cantrip.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cantrip</a>
        <a class="sidebar-nav-item" href="{% link api/spells/level/1st.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1st</a>
        <a class="sidebar-nav-item" href="{% link api/spells/level/2nd.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2nd</a>
        <a class="sidebar-nav-item" href="{% link api/spells/level/3rd.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3rd</a>
        <a class="sidebar-nav-item" href="{% link api/spells/level/4th.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4th</a>
        <a class="sidebar-nav-item" href="{% link api/spells/level/5th.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5th</a>
        <a class="sidebar-nav-item" href="{% link api/spells/level/6th.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6th</a>
        <a class="sidebar-nav-item" href="{% link api/spells/level/7th.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7th</a>
        <a class="sidebar-nav-item" href="{% link api/spells/level/8th.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8th</a>
        <a class="sidebar-nav-item" href="{% link api/spells/level/9th.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9th</a>
      </div>
    </div>

    <a class="sidebar-nav-item" href="{% link api/items.json %}">&nbsp;&nbsp;Items</a>

    <div x-data="{ isOpen: false }">
      <span class="sidebar-nav-item expandable" :class="{ 'active': isOpen }" @click="isOpen = !isOpen">&nbsp;&nbsp;&nbsp;&nbsp;By Rarity</span>
      <div x-show="isOpen">
        <a class="sidebar-nav-item" href="{% link api/items/rarity/common.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Common</a>
        <a class="sidebar-nav-item" href="{% link api/items/rarity/uncommon.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Uncommon</a>
        <a class="sidebar-nav-item" href="{% link api/items/rarity/rare.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rare</a>
        <a class="sidebar-nav-item" href="{% link api/items/rarity/very-rare.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Very Rare</a>
        <a class="sidebar-nav-item" href="{% link api/items/rarity/legendary.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Legendary</a>
      </div>
    </div>

    <div x-data="{ isOpen: false }">
      <span class="sidebar-nav-item expandable" :class="{ 'active': isOpen }" @click="isOpen = !isOpen">&nbsp;&nbsp;&nbsp;&nbsp;By Type</span>
      <div x-show="isOpen">
        <a class="sidebar-nav-item" href="{% link api/items/type/armor.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Armor</a>
        <a class="sidebar-nav-item" href="{% link api/items/type/potion.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Potion</a>
        <a class="sidebar-nav-item" href="{% link api/items/type/ring.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ring</a>
        <a class="sidebar-nav-item" href="{% link api/items/type/rod.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rod</a>
        <a class="sidebar-nav-item" href="{% link api/items/type/scroll.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Scroll</a>
        <a class="sidebar-nav-item" href="{% link api/items/type/staff.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Staff</a>
        <a class="sidebar-nav-item" href="{% link api/items/type/wand.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wand</a>
        <a class="sidebar-nav-item" href="{% link api/items/type/weapon.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Weapon</a>
        <a class="sidebar-nav-item" href="{% link api/items/type/wondrous.json %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wondrous</a>
      </div>
    </div>

    <a class="sidebar-nav-item" href="https://github.com/{{ site.github.repo }}">Source</a>
    <span class="sidebar-nav-item">Version v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
